body {
	background-image: url(Ozadje.svg);
	background-height: 100%;
	font-size: 18px;
	fontfamily: Georgia;
	color: white;
	}
	
	
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F56F46; /* barva pasu */
}



li {
  float: left;
}

li a {
	font-size: 20px;
  display: block;
  color: white;			/* Barva pisave */
  text-align: center;	/* Poravnanost znotraj kvadrata */
  padding: 16px;		/* Definira širino pasu */
  text-decoration: none;
}

li a:hover {
  background-color: #58E1FF; /* barva ob miški na elementu */
}

h1 {
background-image: url(https://t3.ftcdn.net/jpg/01/00/26/96/360_F_100269601_asf7SvP42M8aVhv9FvPOGdQWuGLwHcWh.jpg);
font-size: 44px;
margin: 0;
color: white;
text-align: center;
padding: 50px;}


h2 {
	font-size: 36px;
	border-bottom-style: solid;
	border-bottom-color: #58E1FF;
	margin-bottom: 75px;
	margin-top: 50px;
}

h3 {
	font-size: 28px;
	border-bottom-style: solid;
	border-bottom-color: #58E1FF;
	margin-bottom: 75px;
	margin-top: 50px;
}

p {
	font-style: italic;
	font-size: 20px;
	}
	

section {
	width: 1000px;
	float: left;
}

img {
	margin-top: 50px;
	margin-bottom: 10px;
}






